---
import { Picture } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Logo from "assets/logo.png";
import { Astronav,MenuIcon,MenuItems } from "astro-navbar";
import Dropdown from "./dropdown.astro";

const menuitems = [
  {
    title: "Previous Meetups",
    path: "#",
    children: [
      { title: "2020", path: "https://photos.google.com/share/AF1QipNg-DJ4T4SDf4BTHvhjnDVElLHxUcSLXDj2CSY3eVhGd1iQnK0TGXB_rxBqto1IEw?key=TVhsMkJyZnVRR3FTM3luWEVnS1NXTi1ab1JVNGF3" },
      { title: "2022", path: "https://photos.app.goo.gl/EZwisbsBPUoG6d6F8" },
      { title: "2023", path: "https://photos.app.goo.gl/WAKFJXCpNhJTEufV7" },
    ],
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between bg-black px-4 rounded-xl">
          <a href="/">
            <Picture
              src={Logo}
              alt="Eloquent Clicks logo"
              widths={[64]}
              sizes="64px"
              loading="eager"
              format="avif"></Picture>
          </a>
          <div class="block lg:hidden">
            <MenuIcon class="w-4 h-4 text-white" />
          </div>
        </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" size="md" block size="lg">Prague Meetup 2024 IC</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <Link href="https://talkbase.io/event/mechanical-keyboard-meetup-2024/mewsrnd" size="md">2024 Meetup Tickets</Link>
      </div>
    </div>
  </header>
</Container>
